@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.app-Shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.discription {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  background: #ffffff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-navigation-icon{
max-width: 8px;
max-width: 8px;
  color: rgb(0, 0, 0);
}


.swiper-button-prev {
  max-width: 30px;
  max-height: 30px;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 50%;
  transform: translatex(20px);
}



.swiper-button-next{
 max-width: 30px;
  max-height: 30px;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 50%;
    transform: translatex(-20px);
}

.heding {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

